@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "San Francisco";
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  gap: 48px;
  font-size: 14px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  /* max-width: 1000px;
  margin: 0 auto; */
  align-items: center;
}

ul {
  list-style: none;
}

nav {
  font-size: 13px;
}

li {
  cursor: pointer;
}

svg {
  display: block;
}

main {
  /* max-width: 1000px;
  margin: 0 auto; */
  margin-bottom: 48px;
}

a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* este display grid seria a grade, como eu tenho duas div, uma eu uso 33% da tela e a outra 66%*/
#produto {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

#precos {
  font-size: 17.6px;
}

#a-vista,
#parcelas,
.pequeno {
  font-size: 12.8px;
}

.cinza {
  color: #6e6e73;
}

#opcoes-produto {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#selo-carbono {
  display: flex;
  align-items: center;
  gap: 4px;

  & img {
    width: 25px;
  }
}

input[type="radio"] {
  display: none;
}

#selecao-cores label img {
  width: 32px;
  cursor: pointer;
  mix-blend-mode: color;
}

#selecao-cores {
  display: flex;
  gap: 10px;
}

.cores {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#selecao-cores label {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="radio"]:checked + label {
  border: solid 2px #0066cc;
  border-radius: 50%;
}

#opcoes-tamanho input[type="radio"]:checked + label,
input[type="radio"]:checked + label {
  border: solid 2px #0066cc;
}

#opcoes {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#tamanho-caixa {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#opcoes-tamanho {
  display: flex;
  gap: 10px;
}

#opcoes-tamanho label {
  border: solid 1px black;
  padding: 30px 50px;
  border-radius: 16px;
  font-size: 17.6px;
  font-weight: 700;
  cursor: pointer;
}

#info-extra {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
